%div{ class: 'message-in-list' }
  .row
    .col-md-1
      = check_box_tag "id_#{message.id}"
    .col-md-11
      .col-md-2
        = link_to message.sent_by?(current_user) ? message.receiver : message.sender do
          = image_tag message.sent_by?(current_user) ? message.receiver.avatar.url : message.sender.avatar.url, class: 'img-rounded icon'
      .col-md-10
        .row
          .col-md-12.message-info
            = link_to dialog_messages_url(user: message.sent_by?(current_user) ? message.receiver : message.sender) do
              %h4= message.sent_by?(current_user) ? message.receiver.name : message.sender.name
            - if message.status?(:new)
              %p.label.label-primary
                = message.sent_by?(current_user) ? 'Непрочитане' : 'Нове'
          .col-md-12
            %p.break-word= message.body.truncate(530, separator:' ')
            - unless message.attachments.empty?
              = link_to '#', data: { target: "#attachments_#{message.id}", toggle: :modal, placement: :bottom }, title: 'Показати прикріплення' do
                %small <Прикріплення>
              = render partial: 'modals/attachments', locals: { id: message.id, attachments: message.attachments }
  %hr
