= include_gon
= content_for :title, @companion.name
= content_for :styles do
  = stylesheet_link_tag 'messages'
= content_for :plugins do
  = javascript_include_tag 'plugins/infinite-loader'
= content_for :javascript do
  = javascript_include_tag 'messages'
= content_for :web_socket do
  - ids = (@companion.id < @user.id) ? [ @companion.id, @user.id ]  : [ @user.id, @companion.id ]
  = subscribe_to "/messages/private/#{ids[0]}_#{ids[1]}"

.container.dialog.infinite
  - if @user.dialog(@companion).try(:size).try('>', 15)
    .pagination-info
      = link_to_next_page(@messages, '', params: { user: @companion.id }, :remote => true)
    = image_tag 'loader.gif', class: 'loader icon img-center'
  %ul.messages
    = render partial: 'messages', locals: { messages: @messages, companion: @companion }
  - banned = cannot?(:new_private, Message)
  .clearfix
  = nested_form_for @message, url: new_private_messages_url(@message, user: @companion),
      html: { class: 'message-form', multipart: true }, remote: true, authenticity_token: true, format: :js do |f|
    = f.text_area :body, class: 'form-control', rows: '5', disabled: banned, value: !(banned)? '' : 'Ваш аккаунт заблоковано'
    = f.hidden_field :message_type, value: :private_message
    = f.hidden_field :sender_id, value: @user.id
    = f.hidden_field :receiver_id, value: @companion.id
    = f.fields_for :attachments do |builder|
      = render 'attachment_field', f: builder
    .actions
      - if !banned
        = f.link_to_add :attachments do
          %span.glyphicon.glyphicon-paperclip{ 'aria-hidden': true }
      - else
        %span.glyphicon.glyphicon-paperclip.blocked{ 'aria-hidden': true }
      = f.submit 'Надіслати', class: 'btn btn-default btn-info', disabled: banned
