= content_for :title, 'Повідомлення'
= content_for :styles do
  = stylesheet_link_tag 'messages'
= content_for :javascript do
  = javascript_include_tag 'user-tabs'
  = javascript_include_tag 'messages'
.container
  = form_tag remove_selected_messages_url do
    %ul.nav.nav-tabs
      %li.active
        = link_to 'Отримані', select_messages_url(messages_type: :received_messages), remote: true
      %li
        = link_to 'Надіслані', select_messages_url(messages_type: :sent_messages), remote: true
      %li.submit-container.disabled
        = link_to 'Видалити обрані', '#'
      %li{class: !(@messages.empty?)? '' : 'disabled'}
        = link_to 'Видалити всі повідомлення', !(@messages.empty?)? clear_messages_url : '#', method: :get, data: { confirm: 'Ви дійсно хочете видалити всі повідомлення?' }
    .tab-content
      .tab-pane.active
        = render partial: 'messages_list', locals: { messages: @messages }
