= content_for :title, 'Надіслати інструкції підтвердження'
= content_for :styles do
  = stylesheet_link_tag 'login_signup'

.group-form
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, role: 'form' }) do |f|
    = devise_error_messages!
    = f.email_field :email, autofocus: true, placeholder: 'Поштова скринька'
    = f.submit 'Надіслати інструкції підтвердження', class: 'btn btn-success', data: {disable_with: 'Обробка...'}
    = render 'devise/shared/links'

