= content_for :title, 'Переслати інструкції підтвердження'
.panel.panel-default
  .panel-heading
    %h4= t('.resend_confirmation_instructions', :default => 'Переслати інструкції підтвердження')
  .panel-body
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, role: 'form' }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, class: 'form-control'
      = f.submit t('.resend_confirmation_instructions', :default => 'Переслати інструкції підтвердження'), class: 'btn btn-success', data: {disable_with: 'Обробка...'}
    = render "devise/shared/links"

-#%h2 Resend confirmation instructions
-#= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
-#  = devise_error_messages!
-#  .field
-#    = f.label :email
-#    %br/
-#    = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
-#  .actions
-#    = f.submit "Resend confirmation instructions"
-#= render "devise/shared/links"
