- if current_user.send(social).nil?
  = link_to t("edit_#{social}_new"), user_omniauth_authorize_path(social)
- else
  %label= "#{social.capitalize}:"
  = link_to user_omniauth_authorize_path(social) do
    = text_field_tag social, current_user.send(social), class: 'form-control add-url',
        disabled: true, title: t("edit_#{social}_change")
