= content_for :title, 'Налаштування профілю'
= content_for :plugins do
  = javascript_include_tag 'plugins/file-field'

.panel.panel-default
  .panel-heading
    %h4 Налаштування профілю
  .panel-body
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true, role: 'form' }) do |f|
      .form-group
        %label Поштова скринька
        = text_field_tag :email, current_user.email, class: 'form-control', disabled: true
      .form-group
        %label Ім'я
        = f.text_field :name, class: 'form-control'
      .form-group
        %label Особиста інформація
        = f.text_area :info, class: 'form-control', rows: '5'
      .form-group
        %label Телефон
        = f.text_field :phone, class: 'form-control'
      .form-group
        %label Skype
        = f.text_field :skype, class: 'form-control'
      .form-group
        = render partial: 'edit_url', locals: {social: :vkontakte}
      .form-group
        = render partial: 'edit_url', locals: {social: :facebook}
      .form-group
        = f.label :Фото
        .file-field-container
          = f.file_field :avatar, accept: 'image/png, image/jpeg'
      = f.submit 'Зберегти', class: 'btn btn-success', data: {disable_with: 'Обробка...'}
