= content_for :title, 'Регістрація'
= content_for :javascript do
  = javascript_include_tag 'user-forms'
= content_for :styles do
  = stylesheet_link_tag 'login_signup'

.group-form
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form', class: 'user-form' }) do |f|
    = f.text_field :name, autofocus: true, placeholder: "Ім'я*"
    = f.email_field :email, autofocus: true, placeholder: 'Поштова скринька*'
    = f.password_field :password, placeholder: 'Пароль*', class: 'with-error'
    = f.password_field :password_confirmation, placeholder: 'Підтвердження паролю*'
    = f.text_field :settlement, class: 'autocomplete', data: { 'autocomplete-url' => search_settlements_users_url(limit: 10, query: '_QUERY_'),
                   'autocomplete-search' => 'settlement' }, placeholder: 'Оберіть населений пункт'
    = f.hidden_field :settlement_type, class: 'settlement-type'
    = f.text_field :region, disabled: true, class: 'region hidden'
    = f.hidden_field :district, class: 'district'
    = f.submit 'Зареєструватись', class: 'button', data: { disable_with: 'Обробка...' }
  = render 'devise/shared/links'

