.panel.panel-default
  .panel-heading
    %h4= t('.sign_up', :default => 'Реєстрація')
  .panel-body
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :"Ім'я"
        = f.text_field :name, autofocus: true, class: 'form-control'
      .form-group
        = f.label :Email
        = f.email_field :email, autofocus: true, class: 'form-control'
      .form-group
        = f.label :Пароль
        %br/
        = f.password_field :password, class: 'form-control'
      .form-group
        = f.label :"Підтвердження паролю"
        = f.password_field :password_confirmation, class: 'form-control'
      = f.submit t('.sign_up', :default => 'Зареєструватись'), class: 'btn btn-success'
    = render "devise/shared/links"

-#%h2 Sign up
-#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#
-#  .field
-#    = f.label :name
-#    %br/
-#    = f.text_field :name, autofocus: true
-#  .field
-#    = f.label :email
-#    %br/
-#    = f.email_field :email, autofocus: true
-#  .field
-#    = f.label :password
-#    - if @minimum_password_length
-#      %em
-#        (#{@minimum_password_length} characters minimum)
-#    %br/
-#    = f.password_field :password, autocomplete: "off"
-#  .field
-#    = f.label :password_confirmation
-#    %br/
-#    = f.password_field :password_confirmation, autocomplete: "off"
-#  .actions
-#    = f.submit "Sign up"
-#= render "devise/shared/links"
