= content_for :title, 'Регістрація'
.panel.panel-default
  .panel-heading
    %h4= t('.sign_up', :default => 'Реєстрація')
  .panel-body
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :"Ім'я"
        = f.text_field :name, autofocus: true, class: 'form-control'
      .form-group
        = f.label :Email
        = f.email_field :email, autofocus: true, class: 'form-control'
      .form-group
        = f.label :Пароль
        %br/
        = f.password_field :password, class: 'form-control'
      .form-group
        = f.label :'Підтвердження паролю'
        = f.password_field :password_confirmation, class: 'form-control'
      = f.submit t('.sign_up', :default => 'Зареєструватись'), class: 'btn btn-success', data: {disable_with: 'Обробка...'}
    = render 'devise/shared/links'
