%h1.title= defined?(in_list) ? link_to(decision.request.name, decision_url(decision)) : link_to(decision.request.name, request_url(decision.request))
.info
  %p.author= link_to decision.helper.name, user_url(decision.helper)
  %p.date= l(decision.created_at, format: '%d %B, %Y')
  %p= link_to 'Допоміг', accept_decision_url(decision)
  %p= link_to 'Не допоміг', deny_decision_url(decision)
%br
- if defined?(in_list)
  %p.description= decision.description.truncate(530, separator:' ')
-else
  = simple_format(decision.description, class: 'description')
