%h1.title= link_to decision.request.name, decision_url(decision)
.info
  %p.author= link_to decision.helper.name, user_url(decision.helper)
  %p.date= l(decision.created_at, format: '%d %B, %Y')
%br
- if slice
  %p.description= decision.description.truncate(530, separator:' ')
-else
  = simple_format(decision.description, class: 'description')
