.decision{id: "decision-#{decision.id}"}
  .row
    .col-md-4
      .photo
        = link_to image_tag(decision.helper.avatar.url), decision_url(decision)
    .col-md-8
      = render partial: 'decisions/decision_info', locals: { decision: decision, slice: true }
      = render partial: 'decisions/decision_categories', locals: { decision: decision }





-#%div{ class: 'request-in-list', id: "request-#{request.id}" }
-#  .row
-#    .col-md-2
-#      = link_to request do
-#        = image_tag request.photo.url, class: 'img-rounded img-responsive'
-#    .col-md-10
-#      .row
-#        .col-md-11
-#          = link_to request do
-#            %h4= request.name
-#          - if request.status?(:unchecked)
-#            %p.label.label-primary Незатверджено
-#          - if request.status?(:archived)
-#            %h4
-#              %small= 'Закрито ' + time_ago_in_words(request.updated_at) + ' тому.'
-#          - else
-#            %h4
-#              %small
-#                = 'Опубліковано ' + time_ago_in_words(request.created_at) + ' тому, '
-#                = link_to request.user.name, user_url(request.user)
-#        .col-md-1
-#          .pull-right
-#            - if !request.status?(:unchecked) && (can? :destroy, request)
-#              = render partial: 'modals/agree_modal', locals: { id: request.id, selector: 'deleteModal', title: 'Ви дійсно хочете заархівувати запит?', link: request, ajax: defined?(ajax) ? ajax : nil }
-#              .delete-request
-#                = link_to '#', data: {target: "#deleteModal_#{request.id}", toggle: 'modal', placement: 'bottom', title: 'Видалити запит.'} do
-#                  %span.glyphicon.glyphicon-remove{ 'aria-hidden': true }
-#        .col-md-12
-#          %p.break-word= request.description.truncate(530, separator:' ')
-#          .row
-#            .pull-right
-#              - request.required_items.each do |required_item|
-#                = link_to requests_url(category_id: required_item.category.id) do
-#                  %span{ class: "label label-#{required_item.category.color}" }= Category.find(required_item.category_id).name
-#  - if request != requests.last
-#    %hr
