#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Закрити
        %h4#myModalLabel.modal-title Підтвердження допомоги
      = form_tag partly_path do
        .modal-body
          %p Оберіть категорії з якими вам допомогли (ці категорії записуються в історію допомого користувача)
          %p
            = select_tag :accepted_items, options_from_collection_for_select(@accepted_items, 'id', 'category_name', selected: @accepted_items.ids), multiple: true
        .modal-footer
          = submit_tag 'Надіслати', :class => 'btn btn-success', data: {disable_with: 'Обробка...'}
.col-md-9
  .panel.panel-default.width-100
    .panel-heading
      .row
        .col-md-10
          %h4.break-word= @decision.request.name
        .col-md-2
          .pull-right.request-actions
            .dropdown
              %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                Підтвердження
                %span.caret
              %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
                %li{:role => "presentation"}
                  %a{"data-target" => "#myModal", "data-toggle" => "modal", "href" => "#"} Частково допоміг
                %li{:role => "presentation"}
                  = link_to 'Допоміг', accept_path
                %li{:role => "presentation"}
                  = link_to 'Не допоміг', deny_path
    .panel-body
      %p.break-word.text-justify.request-description= @decision.description
      - @decision.accepted_items.each do |accepted_item|
        =link_to requests_path(category_id: accepted_item.required_item.category.id) do
          %span{class: "label label-#{accepted_item.required_item.category.color}"}= Category.find(accepted_item.required_item.category_id).name
.col-md-3
  .panel.panel-default.width-100
    .panel-heading
      %h4 Автор
    .panel-body
      .text-center
        = link_to @decision.request.user.name, @decision.request.user.name, class: 'break-word'
        = image_tag @decision.request.user.avatar.url, class: 'img-responsive img-center img-thumbnail'
      -if @decision.request.user.phone.to_s.length > 0
        %p
          %strong Телефон:
          = @decision.request.user.phone
      -if @decision.request.user.skype.to_s.length > 0
        %p
          %strong Skype:
          = @decision.request.user.skype
-#%p#notice= notice
-#%p
-#  = @decision.request.name
-#%p
-#  -@decision.request.required_items.each do |item|
-#    %span.label.label-success= item.category.name
-#
-#
-#= link_to 'Допоміг', accept_path
-#%button.btn.btn-success.btn-sm{"data-target" => "#myModal", "data-toggle" => "modal"}
-#  Частково допоміг
-#= link_to 'Не допоміг', deny_path
-#= link_to 'Back', decisions_path
-#
-

:javascript
  $(document).ready(function() {
    $('#accepted_items').multiselect({
      maxHeight: 200,
      dropUp: true
    });
  });
