= content_for :title, @decision.request.name
= content_for :javascript do
  = javascript_include_tag 'items'
= content_for :styles do
  = stylesheet_link_tag 'index_show'
  = stylesheet_link_tag 'items'

.container
  .decision-show
    .photo
      = image_tag @decision.helper.avatar.url
    = render partial: 'decisions/decision_actions', locals: { decision: @decision }
    = render partial: 'decisions/decision_categories', locals: { decision: @decision }
    = render partial: 'decisions/decision_info', locals: { decision: @decision }
