%p#notice= notice
%p
  = @decision.request.name
%p
  -@decision.request.required_items.each do |item|
    %span.label.label-success= item.category.name


= link_to 'Підтвердити', accept_path
= link_to 'Відхилити', deny_path
= link_to 'Back', decisions_path
