%div{ class: 'article-in-list', id: "article-#{article.id}" }
  .row
    .col-md-2
      = link_to show_article_url(article, url: article.article_url) do
        = image_tag article.photo.url, class: 'img-rounded img-responsive'
    .col-md-10
      .row
        .col-md-11
          = link_to show_article_url(article, url: article.article_url) do
            %h4= article.name
          %h4
            %small
              = 'Опубліковано ' + time_ago_in_words(article.created_at) + ' тому'
        .col-md-1
          .pull-right
            - if can?(:destroy, article)
              = render partial: 'modals/agree_modal', locals: { id: article.id, selector: 'deleteModal', title: 'Ви дійсно хочете видалити новину?', link: article }
              .delete-article
                = link_to '#', data: { target: "#deleteModal_#{article.id}", toggle: 'modal', placement: 'bottom', title: 'Видалити новину' } do
                  %span.glyphicon.glyphicon-remove{ 'aria-hidden': true }
        .col-md-12
          %p.break-word= article.body.truncate(530, separator:' ')
          .row
            .pull-right
              - article.tags.map(&:name).each do |tag|
                %span{ class: "label label-#{Random.rand(1..8)}" }= tag
  - if article != articles.last
    %hr
