= include_gon
= content_for :javascript do
  = javascript_include_tag 'articles'

= form_for article, html: { multipart: true, role: :form } do |f|
  = f.text_field :name, placeholder: 'Назва', class: 'custom-input'
  = f.text_area :body, autofocus: true, rows: '10', placeholder: 'Опис', class: 'custom-textarea'
  = f.text_field :src, placeholder: 'Джерело', class: 'custom-input'
  = f.text_field :tag_list, value: article.tags.pluck(:name).join(','), class: 'tags-field', placeholder: 'Теги'
  .file-field-container
    = f.file_field :photo, accept: 'image/png, image/jpeg'
  = f.submit 'Опублікувати', class: 'button', data: { disable_with: 'Обробка...' }