%h1 Listing articles

%table
  %thead
    %tr
      %th Id
      %th Name
      %th Src
      %th Photo
      %th
      %th
      %th

  %tbody
    - @articles.try(:each) do |article|
      %tr
        %td= article.id
        %td= article.name
        %td= article.src
        %td= article.photo
        %td= link_to 'Show', show_article_url(article, url: article.article_url)
        %td= link_to 'Edit', edit_article_url(article, url: article.article_url)
        %td= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Article', new_article_url
