= content_for :title, 'Додати новину'
= content_for :styles do
  = stylesheet_link_tag 'login_signup'
= content_for :plugins do
  = javascript_include_tag 'plugins/file-field'

.container
  .request-new
    .group-form
      %p.title Додати новину
      = render partial: 'articles/form', locals: { article: @article }
