= content_for :title, @article.name
.container
  .panel.panel-default.width-100
    .panel-heading
      .row
        .col-md-9
          %h4.request-title.break-word= @article.name
        .col-md-3
          .pull-right.request-actions
            = render partial: 'article_actions', locals: { article: @article }
    .panel-body
      = image_tag @article.photo.url, class: 'request-photo img-responsive img-center'
      %p.break-word.text-justify.request-description= @article.body
      - @article.tags.map(&:name).each do |tag|
        %span{ class: "label label-#{Random.rand(1..8)}" }= tag
