= content_for :title, @article.name
= content_for :styles do
  = stylesheet_link_tag 'index_show'

.container
  .article-show
    .photo
      = image_tag @article.photo.url
    = render partial: 'articles/article_tags', locals: { article: @article }
    = render partial: 'articles/article_info', locals: { article: @article, slice: false, link: false }
