-if @notifications.empty?
  %h5.text-center Немає нових сповіщень
-else
  %h1 Сповіщення
  - @notifications.each do |notification|
    %div
      -if notification.status == 'new'
        = link_to notification do
          %p= notification.message.html_safe
          %p= notification.created_at
      -else
        %p= notification.message.html_safe
        %p= notification.created_at
      = link_to 'Видалити', notification, method: :delete

  = link_to 'Видалити всі сповіщення', controller: :notifications, action: :clean
%br

