.panel.panel-default.width-100
  .panel-heading
    .width-100
      .row.form-header
        %h4.inline Користувачі
        .pull-right
          = form_tag(users_path, method: :get, id: 'search-form') do
            .input-append
              = text_field_tag :search, params[:search], class: 'form-control search-field inline', placeholder: 'Введіть ім\'я користувача'
              %button.inline.btn.btn-success{ type: :submit } Знайти
              .filter
                = link_to users_path, 'data-placement': :bottom, title: 'Показати усіх користувачів.' do
                  %span.glyphicon.glyphicon-filter{ 'aria-hidden': true }
  .panel-body
    - if @users.size.zero?
      %h5.text-center Користувачів не знайдено
    - else
      .users-in-list.text-center
        - @users.each do |user|
          = render partial: 'user_in_list', locals: {user: user}
      = paginate @users
