.user-info
  = image_tag @user.avatar.url
  -if @user.role == 'admin' || @user.role == 'moderator'
    %p= @user.role
  %p= 'Name: ' + @user.name
  -if @user.info.to_s.length > 0
    %p= 'Info: ' + @user.info
  -if @user.phone.to_s.length > 0
    %p= 'phone: ' + @user.phone
  -if @user.skype.to_s.length > 0
    %p= 'skype: ' + @user.skype
  -#= link_to 'Запити користувача', user_requests_path(@user)
.user-requests.clearfix
  %h3 Запити користувача

  %table
    %thead
      %tr
        %th Назва
        %th Опис
        %th
        %th
        %th

    %tbody
      - @user.requests.each do |request|
        %tr
          %td= request.name
          %td= request.description
          %td= link_to 'Перейти', request if can? :read, request
          %td= link_to 'Редагувати', edit_request_path(request) if can? :edit, request
          %td= link_to 'Видалити', request, :method => :delete, :data => { :confirm => 'Are you sure?' } if can? :destroy, request
