= image_tag @user.avatar.url
-if @user.role == 'admin' || @user.role == 'moderator'
  %p= @user.role
%p= 'Name: ' + @user.name
-if @user.phone.to_s.length > 0
  %p= 'phone: ' + @user.phone
-if @user.skype.to_s.length > 0
  %p= 'skype: ' + @user.skype
= link_to 'Запити користувача', user_requests_path(@user)