= content_for :title, @user.name
= content_for :javascript do
  = javascript_include_tag 'user-tabs'
= content_for :styles do
  = stylesheet_link_tag 'index_show'
.container
  .user-show
    .user-block
      .photo
        = image_tag @user.avatar.url
      = render partial: 'users/user_info', locals: { user: @user }
    = render partial: 'users/user_tabs', locals: { user: @user, requests: @requests }
