.row.user-profile
  .col-md-4.col-md-offset-1.text-right.user-avatar= image_tag @user.avatar.url, class: 'img-thumbnail'
  .col-md-6.user-info
    %h3.clearfix= @user.name
    -if @user.role == 'admin'
      %h5
        %small.text-success Адміністратор
    -elsif @user.role == 'moderator'
      %h5
        %small.text-warning Модератор
    -if @user.info.to_s.length > 0
      %p= @user.info
    -if @user.phone.to_s.length > 0
      %p
        %strong= 'Телефон: ' + @user.phone
    -if @user.skype.to_s.length > 0
      %p
        %strong= 'Skype: ' + @user.skype
%ul.nav.nav-tabs.user-requests#dashboard_products
  %li.active
    %a{'data-target' => '#home', 'data-toggle' => 'tab', :href => '#home'} Активні запити
  %li
    %a{'data-target' => '#profile', 'data-toggle' => 'tab', :href => '#profile'} Зевершені запити
.tab-content
  #home.tab-pane.active.fade.in
    - @user.requests.each do |request|
      = render 'requests/request_in_list', request: request
  #profile.tab-pane profile tab content

