= content_for :title, 'Головна'
= content_for :styles do
  = stylesheet_link_tag 'home'
.parentbox
  .circle
    .news.first-news
    .news.second-news
    .news.third-news
    .news.fourth-news
    .news.fifth-news
    .phrases
      %span.first Дрібниця для одного
      %span.alter= image_tag 'Alter.png'
      %span.second Весь світ для іншого
  %ul.contacts
    %li
      = link_to image_tag('pinterest.png'), root_path
    %li
      = link_to image_tag('twitter.png'), root_path
    %li
      = link_to image_tag('linkedin.png'), root_path
    %li
      = link_to image_tag('instagram.png'), root_path
    %li
      = link_to image_tag('facebook.png'), root_path
    %li
-#= content_for :plugins do
-#  = javascript_include_tag 'preloader'

