= content_for :title, 'Головна'
= content_for :plugins do
  = javascript_include_tag 'preloader'
  = javascript_include_tag 'slider'
= render partial: 'slider'
%hr.divider
.main-block
  .col-md-8
    .col-md-6
      = render partial: 'hot'
      = render partial: 'info'
    .col-md-6
      = render partial: 'top'
      = render partial: 'daily_photo'
    .col-md-12
      = render partial: 'contacts'
  .col-md-4
    = render partial: 'requests'
    = render partial: 'news'
