= content_for :title, 'Головна'
= content_for :styles do
  = stylesheet_link_tag 'home'
= content_for :plugins do
  = javascript_include_tag 'home'
.parentbox
  %span.phrases.first Дрібниця для одного.
  .circle
    - 5.times do |i|
      - break if @requests[i].nil?
      = link_to '', circle_link(@requests[i]),id: "#{I18n.with_locale(:en) { (i + 1).to_words ordinal: true }}-news-circle", class: 'news-circles', data: { title: human_truncate(@requests[i].name, 50, ''), description: human_truncate(@requests[i].description, 115, '.', '.') }
    .news
      %p.title{ title: @requests[0].name }= human_truncate(@requests[0].name, 50) unless @requests[0].nil?
      %p.description= human_truncate(@requests[0].description, 115, '.', '.') unless @requests[0].nil?
  %span.phrases.second Весь світ для іншого.
