= nested_form_for request, html: { multipart: true, role: :form } do |f|
  .form-group
    = f.label :Назва
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :Опис
    = f.text_area :description, autofocus: true, class: 'form-control', rows: '5'
  .required-items
    = f.label :Категорії
    = f.fields_for :required_items do |builder|
      = render 'required_item', f: builder
    .clear-fix
    = f.link_to_add :required_items do
      %span.fa.fa-plus-square{ 'aria-hidden': true }
  .form-group
    = f.label :Фото
    .file-field-container
      = f.file_field :photo, accept: 'image/png, image/jpeg'
  = f.submit 'Опублікувати', class: 'btn btn-success', data: { disable_with: 'Обробка...' }