%h1.title= defined?(in_list) ? link_to(request.name, request) : request.name
.info
  %p.author= link_to request.user.name, request.user
  %p.date= l(request.created_at, format: '%d %B, %Y')
  %p.views
    = request.unique_impression_count
    %span.fa.fa-eye
  - if can? :vote, request
    %div{ class: "votes votes-#{request.id}" }
      = render partial: 'layouts/votes', locals: { source: request }
- if request.status?(:actual) && !defined?(in_list)
  %a.share-button{onclick: 'Share.vkontakte()', style: 'background: #5f83aa;'}
    %span.fa.fa-vk &nbsp;Поділитись
  %a.share-button{onclick: 'Share.twitter()', style: 'background: #0c7abf;'}
    %span.fa.fa-twitter &nbsp;Tweet
- if defined?(in_list)
  %p.description{ style: 'clear: both;'}= request.description.truncate(530, separator:' ')
-else
  = simple_format(request.description, class: 'description')
