%div{ class: :"request-in-list request-#{request.id}"}
  .row
    .col-md-2= image_tag request.photo.url, class: 'img-rounded img-responsive'
    .col-md-10
      .row
        .col-md-11
          %h4= request.name
          -if request.status == 'archived'
            %h4
              %small= 'Archived ' + time_ago_in_words(request.updated_at) + ' ago.'
          -else
            %h4
              %small
                = 'Posted ' + time_ago_in_words(request.created_at) + ' ago, by '
                = link_to request.user.name, user_path(request.user)
        .col-md-1
          -if (can? :destroy, request) && (request.status == 'actual')
            .pull-right.delete-request
              = link_to request, :method => :delete, :remote => true, :data => { :confirm => 'Are you sure?' } do
                %span.glyphicon.glyphicon-remove{'aria-hidden' => 'true'}
      .row
        .col-md-12
          %p= request.description.truncate(530, separator:' ')
          .row
            .col-md-2
              .pull-left
                %p.show
                  = link_to 'Детальніше »', request if can? :read, request
            .col-md-10
              .pull-right
                - request.required_items.each do |required_item|
                  %span{:class => "label label-#{required_item.category.color}"}= Category.find(required_item.category_id).name
- if request!=requests.last
  %hr