%h1.title= defined?(in_list) ? link_to(request.name, request) : request.name
.info
  %p.author= link_to request.user.name, request.user
  %p.date= l(request.created_at, format: '%d %B, %Y')
  %p.views
    = request.unique_impression_count
    %span.fa.fa-eye
  - unless defined?(in_list)
    = render partial: 'requests/request_actions', locals: { request: request }
%br
- if defined?(in_list)
  %p.description= request.description.truncate(530, separator:' ')
-else
  = simple_format(request.description, class: 'description')
