= content_for :title, 'Редагування запиту на допомогу'
= content_for :plugins do
  = javascript_include_tag 'multiselect'
  = javascript_include_tag 'file-field'
.panel.panel-default
  .panel-heading
    %h4 Редагування запиту
  .panel-body
    = form_for @request, html: { multipart: true, role: 'form' } do |f|
      .form-group
        = f.label :Назва
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :Опис
        = f.text_area :description, autofocus: true, class: 'form-control', rows: '5'
      .form-group
        = f.label :Категорії
        %br
        = select_tag 'categories', options_from_collection_for_select(Category.all.order(:name), 'id', 'name', selected: @collection),
              multiple: true, class: 'selector'
      .form-group
        = f.label :Фото
        .file-field-container
          = f.file_field :photo, accept: 'image/png, image/jpeg'
        %a
      = f.submit 'Зберегти', class: 'btn btn-success', data: { disable_with: 'Обробка...' }
