%h1 Editing request

= form_for @request, html: { :method => :put, multipart: true } do |f|
  - if @request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@request.errors.count, "error")} prohibited this request from being saved:"
      %ul
        - @request.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :photo
    = f.file_field :photo
  .field
    = select_tag 'categories', options_from_collection_for_select(Category.all, 'id', 'name', :selected => @collection), multiple: true

  .actions
    = f.submit 'Save'


= link_to 'Show', @request
\|
= link_to 'Back', requests_path

:javascript
  $(document).ready(function() {
    $('#categories').multiselect({
      enableFiltering: true,
      includeSelectAllOption: true,
      maxHeight: 200,
      dropUp: true
    });
  });
