= content_for :title, 'Запити на допомогу'
= content_for :styles do
  = stylesheet_link_tag 'requests'
.container
  .request-index
    - if @requests.size.zero?
      %h5.text-center Запитів не знайдено
    - else
      - @requests.each do |request|
        = render partial: 'requests/request', locals: { request: request, ajax: defined?(ajax) ? ajax : nil }
      = paginate @requests

-#.panel.panel-default.width-100
-#  .panel-heading
-#    .row
-#      .col-md-10
-#        %h4 Запити
-#      .col-md-2
-#        .pull-right
-#          = link_to requests_url, 'data-placement': :bottom, title: 'Показати усі запити.' do
-#            %span.glyphicon.glyphicon-filter{ 'aria-hidden': true }
-#  .panel-body
-#    = render partial: 'requests/requests_list', locals: { requests: @requests }