-if @requests.empty?
  %h3 Поки що немає запитів на допомогу
-else
  %h1 Запити на допомогу
  - @requests.each do |request|
    %tr
      = image_tag request.photo.url
      %p= request.name
      %p= request.description
      %p= request.user_id
      %td= link_to 'Show', request if can? :read, request

= link_to 'New Request', new_request_path
