.panel.panel-default
  .panel-heading
    %h4 Новий запит про допомогу
  .panel-body
    = form_for @request, url: requests_path, html: { multipart: true, role: 'form' } do |f|
      .form-group
        = f.label :Назва
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :Опис
        = f.text_area :description, autofocus: true, class: 'form-control', rows: '5'
      .form-group
        = f.label :Категорії
        %br
        = select_tag 'categories', options_from_collection_for_select(Category.all.order(:name), 'id', 'name', :selected => @collection), multiple: true
      .form-group
        = f.label :Фото
        = f.file_field :photo, accept: 'image/png, image/jpeg'
      = f.submit 'Опублікувати', class: 'btn btn-success', data: {disable_with: 'Обробка...'}

:javascript
  $(document).ready(function() {
    $('#categories').multiselect({
      enableFiltering: true,
      includeSelectAllOption: true,
      maxHeight: 180,
      dropUp: true
    });
  });
