= content_for :title, @request.name
= content_for :plugins do
  = javascript_include_tag 'plugins/infinite-loader'
  = javascript_include_tag 'plugins/progress-bars'
  -#= javascript_include_tag 'plugins/share_buttons'
= content_for :javascript do
  = javascript_include_tag 'messages'
  = javascript_include_tag 'items'
= content_for :styles do
  = stylesheet_link_tag 'index_show'
  = stylesheet_link_tag 'messages'
  = stylesheet_link_tag 'items'

.container
  .request-show
    .photo
      = image_tag @request.photo.url
    = render partial: 'request_categories', locals: { request: @request }
    = render partial: 'request_info', locals: { request: @request }
    = render partial: 'request_progress', locals: { request: @request, decision: @decision }
  .col-md-12.wall
    .panel.panel-default.width-100
      .panel-heading
        .row
          .col-md-3
            %h4.request-title.break-word Стіна
          .col-md-9
            %h4#wall-counter.text-right
              - if !(@request.posts.empty?)
                = @request.posts.size
                записів
              - else
                Записів немає
      .panel-body
        - post = @request.posts.new
        - unless cannot?(:new_post, post)
          = nested_form_for post, url: new_post_messages_url(post), html: { class: 'message-form', multipart: true },
              remote: true, authenticity_token: true, format: :js do |f|
            = f.text_area :body, class: 'form-control', rows: '5'
            = f.hidden_field :message_type, value: :post
            = f.hidden_field :sender_id, value: current_user.id
            = f.hidden_field :request_id, value: @request.id
            = f.fields_for :attachments do |builder|
              = render 'messages/attachment_field', f: builder
            .actions
              = f.link_to_add :attachments do
                %span.glyphicon.glyphicon-paperclip{ 'aria-hidden': true }
              = f.submit 'Надіслати', class: 'btn btn-default btn-info'
          .clearfix
        .infinite
          %ul.posts
            = render partial: 'messages/posts', locals: { posts: @posts }
          = image_tag 'loader.gif', class: "loader icon img-center#{(@request.posts.size > 10)? '' : ' hidden'}"
          .pagination-info
            = link_to_next_page(@posts, '', :remote => true)
-#%a.share-button.share-vk.pull-left{onclick: 'Share.vkontakte()'}
-#  Поділитись
-#  .vk-logo.pull-left
-#%a.share-button.share-twitter.pull-right{onclick: 'Share.twitter()'}
-#  Tweet
-#  .twitter-logo.pull-left

-#= render partial: 'request_actions', locals: { request: @request }

