-if (@request.status == 'actual') && (can? :modify, @request)
  = link_to 'Редагувати', edit_request_path(@request)

%p= @request.name

= image_tag @request.photo.url

%p= @request.description

- @request.required_items.each do |required_item|
  %span.label.label-success= Category.find(required_item.category_id).name

= image_tag @request.user.avatar.url

%b Користувач:
= @request.user.name

- unless (@request.user == current_user) or (cannot? :create, Decision) or (not @request.decisions.where(helper_id: current_user.id).empty?)
  %input( type="button" data-toggle="modal" data-target="#exampleModal" class="link" value="Я можу допомогти")

.modal.fade#exampleModal( tabindex="-1" aria-labelledby="exampleModalLabel" )
  .modal-dialog
    .modal-content.create-params
      .modal-header
        %button( class="close" data-dismiss="modal" aria-label="Close" )
          %span
            &times;
      = form_for Decision.new do
        .field
          = select_tag :required_items, options_from_collection_for_select(@required_items, 'id', 'category_name'), multiple: true

          = submit_tag 'Підтвердити', :class => 'btn btn-primary'

:javascript
  $(document).ready(function() {
    $('#required_items').multiselect({
      enableFiltering: true,
      includeSelectAllOption: true,
      maxHeight: 200,
      dropUp: true
    });
  });
