= content_for :title, @request.name
= content_for :plugins do
  = javascript_include_tag 'plugins/infinite-loader'
  = javascript_include_tag 'plugins/progress-bars'
  = javascript_include_tag 'plugins/share_buttons'
= content_for :javascript do
  = javascript_include_tag 'messages'
  = javascript_include_tag 'items'
  = javascript_include_tag 'tabs'
= content_for :styles do
  = stylesheet_link_tag 'index_show'
  = stylesheet_link_tag 'messages'
  = stylesheet_link_tag 'items'

.container
  .request-show
    .photo
      = image_tag @request.photo.url
    = render partial: 'requests/request_actions', locals: { request: @request }
    = render partial: 'request_categories', locals: { request: @request }
    = render partial: 'request_info', locals: { request: @request }
    = render partial: 'request_progress', locals: { request: @request, decision: @decision, user: @user }
    .tabs
      %ul.nav.nav-tabs.nav-justified
        %li.active
          = link_to wall_request_url, remote: true do
            Стіна
            %span#wall-counter.text-right
              - unless @request.posts.blank?
                = "(#{@request.posts.size})"
        - if can? :activity, @request
          %li
            = link_to 'Активність', activity_request_url, remote: true
      .tab-content
        .tab-pane.active
          = render partial: 'requests/request_wall', locals: { posts: @posts, request: @request}
