.col-md-9
  .panel.panel-default.width-100
    .panel-heading
      .row
        .col-md-10
          %h4.break-word= @request.name
        .col-md-2
          .pull-right.request-actions
            - if (@request.user != current_user) and (can? :create, Decision) and (@request.status =='actual')
              -if @request.decisions.where(helper_id: current_user.id).empty?
                %button.btn.btn-success.btn-sm{"data-target" => "#myModal", "data-toggle" => "modal"}
                  Допомогти
              -else
                %small Очікується відповідь
            -if (@request.status == 'actual') && (can? :edit, @request)
              = link_to edit_request_path(@request)do
                %span.glyphicon.glyphicon-pencil{"aria-hidden" => "true"}
            -if (@request.status == 'actual') && (can? :destroy, @request)
              = link_to @request, :method => :delete, :data => { :confirm => 'Закрити запит?' } do
                %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}

    .panel-body
      = image_tag @request.photo.url, class: 'request-photo img-responsive img-center'
      %p.break-word.text-justify.request-description= @request.description
      - @request.required_items.each do |required_item|
        =link_to requests_path(category_id: required_item.category.id) do
          %span{class: "label label-#{required_item.category.color}"}= Category.find(required_item.category_id).name

.col-md-3
  .panel.panel-default.width-100
    .panel-heading 
      %h4 Автор
    .panel-body
      .text-center
        = link_to @request.user.name, @request.user, class: 'break-word'
        = image_tag @request.user.avatar.url, class: 'img-responsive img-center img-thumbnail'
      -if @request.user.phone.to_s.length > 0
        %p
          %strong Телефон:
          = @request.user.phone
      -if @request.user.skype.to_s.length > 0
        %p
          %strong Skype:
          = @request.user.skype

= render 'modals/request_help'