= content_for :plugins do
  = javascript_include_tag 'plugins/share_buttons'
= content_for :title, @request.name
.col-md-9
  .panel.panel-default.width-100
    .panel-heading
      .row
        .col-md-9
          %h4.request-title.break-word= @request.name
        .col-md-3
          .pull-right.request-actions
            - if @request.status?(:actual)
              - if @request.user != current_user && can?(:create, Decision)
                - if @request.decisions.where(helper_id: current_user.id).empty?
                  %button.btn.btn-success.btn-sm{ 'data-target': '#helpRequestModal', 'data-toggle': :modal }
                    Допомогти
                  = render 'modals/request_help'
                - else
                  %small Очікується відповідь
              - if can? :edit, @request
                = link_to edit_request_url(@request), 'data-placement': :bottom, title: 'Редагувати запит.' do
                  %span.glyphicon.glyphicon-pencil{ 'aria-hidden': true }
              - if can? :destroy, @request
                = link_to '#', data: {target: "#deleteModal_#{@request.id}", toggle: 'modal', placement: 'bottom', title: 'Видалити запит.'} do
                  %span.glyphicon.glyphicon-remove{ 'aria-hidden': true }
                = render partial: 'modals/agree_modal', locals: { id: @request.id, selector: 'deleteModal', title: 'Ви дійсно хочете заархівувати запит?', link: @request }
            - else
              %p.label.label-danger= @request.status?(:archived) ? 'Закрито' : ''
    .panel-body
      = image_tag @request.photo.url, class: 'request-photo img-responsive img-center'
      %p.break-word.text-justify.request-description= @request.description
      - @request.required_items.each do |required_item|
        = link_to requests_url(category_id: required_item.category.id) do
          %span{ class: "label label-#{required_item.category.color}" }= Category.find(required_item.category_id).name
.col-md-3
  = render partial: 'user_block'
