= content_for :plugins do
  = javascript_include_tag 'plugins/share_buttons'
= content_for :title, @request.name
= content_for :styles do
  = stylesheet_link_tag 'requests'
.col-md-9
  .panel.panel-default.width-100
    .panel-heading
      .row
        .col-md-9
          %h4.request-title.break-word= @request.name
        .col-md-3
          .pull-right.request-actions
            = render partial: 'request_actions', locals: { request: @request }
    .panel-body
      = image_tag @request.photo.url, class: 'request-photo img-responsive img-center'
      %p.break-word.text-justify.request-description= @request.description
      - @request.required_items.each do |required_item|
        = link_to requests_url(category_id: required_item.category.id) do
          %span{ class: "label label-#{required_item.category.color}" }= Category.find(required_item.category_id).name
.col-md-3
  = render partial: 'user_block'
