-#= content_for :plugins do
-#  = javascript_include_tag 'plugins/share_buttons'
= content_for :title, @request.name
= content_for :styles do
  = stylesheet_link_tag 'requests'
.container
  .request-show
    .request-photo
      = image_tag @request.photo.url
    = render partial: 'request_categories', locals: { request: @request }
    = render partial: 'request_info', locals: { request: @request, slice: false, link: false }
-#%a.share-button.share-vk.pull-left{onclick: 'Share.vkontakte()'}
-#  Поділитись
-#  .vk-logo.pull-left
-#%a.share-button.share-twitter.pull-right{onclick: 'Share.twitter()'}
-#  Tweet
-#  .twitter-logo.pull-left

-#= render partial: 'request_actions', locals: { request: @request }

