#closeDecisionModal.modal.custom.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Підтвердження відгуку про допомогу
      = nested_form_for @decision, url: partly_decision_url, method: :post, html: { class: 'item-form' } do |f|
        .modal-body
          .helped-items
            = f.label 'Оберіть категорії з якими вам допомогли(ці категорії запишуться в історію користувача)'
            = f.fields_for :accepted_items do |builder|
              = render 'requests/item', f: builder, type: :helped_item, decision: @decision
        .modal-footer
          .actions
            = submit_tag 'Надіслати', class: ' btn btn-shadow btn-info confirm', data: { disable_with: 'Обробка...' }
            %input.btn.btn-shadow.btn-default.cancel{ data: { dismiss: 'modal' }, type: 'button', value: 'Відмінити' }
