#helpRequestModal.modal.custom.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Створення відгуку про допомогу
      = nested_form_for @decision, html: { class: 'item-form', data: { url: refresh_counters_url(type: :accepted_items, request: request.id) }} do |f|
        .modal-body
          = f.hidden_field :helper_id, value: current_user.id
          = f.hidden_field :request_id, value: request.id
          = f.text_area :description, class: 'form-control', rows: '7'
          .accepted-items
            = f.label :Категорії
            = f.fields_for :accepted_items do |builder|
              = render 'requests/item', f: builder, type: :accepted_item, request: request
            = f.link_to_add :accepted_items do
              %span.fa.fa-plus-square{ 'aria-hidden': true }
        .modal-footer
          .actions
            = submit_tag 'Надіслати', class: ' btn btn-shadow btn-info confirm', data: { disable_with: 'Обробка...' }
            %input.btn.btn-shadow.btn-default.cancel{ data: { dismiss: 'modal' }, type: 'button', value: 'Відмінити' }
