.panel.panel-default.width-100
  .panel-heading
    .width-100
      .row.form-header
        .row
        .col-md-10
          %h4.inline Категорії допомоги
        .col-md-2
          .pull-right.request-actions
            - if (can? :create, Category)
              %a{ 'data-target': '#newCategoryModal', 'data-toggle': :modal, 'href': '#', 'data-placement': :bottom, title: 'Створити категорію.' }
                %span.glyphicon.glyphicon-plus{ 'aria-hidden': true }
              = render partial: 'modals/category_create'
  .panel-body
    - if @categories.size.zero?
      %h5.text-center Категорій не знайдено
    - else
      %table.table.table-hover.categories
        %thead
          %tr
            %th Назва
            %th
            %th
            %th Колір
            %th
        %tbody
          - @categories.each do |category|
            %tr
              %td= category.name
              %td
              %td
              %td{ class: "label-#{category.color}" }
              %td
                - if category.required_items.empty? && category.helped_items.empty?
                  .pull-right
                    %a{ 'data-target': '#deleteModal', 'data-toggle': :modal, 'href': '#' } Видалити
                  = render partial: 'modals/delete', locals: { selector: 'deleteModal', title: 'Ви дійсно хочете видалити цю категорію?', link: category }
      = paginate @categories
