%footer
  %ul.contacts
    %li
      = link_to image_tag('pinterest.png'), root_path
    %li
      = link_to image_tag('twitter.png'), root_path
    %li
      = link_to image_tag('linkedin.png'), root_path
    %li
      = link_to image_tag('instagram.png'), root_path
    %li
      = link_to image_tag('facebook.png'), root_path
    %li
