%header{class: "#{home_page? ? 'dark' : 'light'}-theme"}
  %nav.navbar.navbar-default.custom-header
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{ aria: { expanded: false }, data: { toggle: 'collapse', target: '#navbar' }, type: 'button' }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'Alter', root_url, class: 'navbar-brand brand'
      #navbar.colapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            = link_to 'Запити', requests_url
          %li
            = link_to 'Новини', news_url
          %li
            = link_to 'Про Нас', about_url
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{ title: "#{current_user.name}", data: { toggle: 'dropdown' }, href: '#' }
                %i.fa.fa-angle-down
                %span.name= current_user.name
                -#%span#new-info.badge= (@new_notifications + @new_decisions).to_s unless (@new_notifications + @new_decisions).zero?
              %ul.dropdown-menu
                %li
                  = link_to 'Мій профіль', user_url(current_user)
                %li
                  = link_to messages_url do
                    Повідомлення
                    - unless current_user.counters(:messages).zero?
                      %span#new-notifications-count.number= current_user.counters(:messages)
                - if can? :create, Request
                  %li
                    = link_to 'Створити запит', new_request_url
                - if current_user.with_privileges?
                  %li
                    = link_to 'Панель адміністрування', rails_admin_url
                - if can? :unchecked_requests, Request
                  %li
                    = link_to unchecked_requests_url do
                      Незатверджені запити
                      - unless current_user.counters(:unchecked).zero?
                        %span#unchecked-requests-count.number= current_user.counters(:unchecked)
                %li
                  = link_to notifications_url do
                    Cповіщення
                    - unless current_user.counters(:notifications).zero?
                      %span#new-notifications-count.number= current_user.counters(:notifications)
                %li
                  = link_to decisions_url do
                    Відгуки
                    - unless current_user.counters(:decisions).zero?
                      %span.number= current_user.counters(:decisions)
                - if can? :change_ban_status, User
                  %li
                    = link_to 'Користувачі', users_url
                %li
                  = link_to 'Налаштування', edit_user_registration_path
                %li
                  = link_to 'Вийти', destroy_user_session_path, method: 'delete'
          - else
            %li
              = link_to 'Увійти', new_user_session_path
