%header{class: "#{default_page? ? 'light' : 'dark'}-theme"}
  %nav.navbar.navbar-default.custom-header
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{ aria: { expanded: false }, data: { toggle: 'collapse', target: '#navbar' }, type: 'button' }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'Alter', root_path, class: 'navbar-brand brand'
      #navbar.colapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            = link_to 'Запити', requests_path
          %li
            = link_to 'Про Нас', requests_path
          %li
            = link_to 'Контакти', requests_path
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{ title: "#{current_user.name}", data: { toggle: 'dropdown' }, href: '#' }
                %i.fa.fa-angle-down
                %span.name= current_user.name
                -#%span#new-info.badge= (@new_notifications + @new_decisions).to_s unless (@new_notifications + @new_decisions).zero?
              %ul.dropdown-menu
                %li
                  = link_to 'Мій профіль', user_path(current_user)
                - if can? :create, Request
                  %li
                    = link_to 'Створити запит', new_request_path
                - if current_user.role?(:admin)
                  %li
                    = link_to 'Панель адміністратора', rails_admin_url
                %li
                  = link_to 'Запити', requests_path
                %li
                  = link_to notifications_path do
                    Cповіщення
                    %span#new-notifications.number= @new_notifications.to_s unless @new_notifications.zero?
                %li
                  = link_to decisions_path do
                    Відгуки
                    %span.number= @new_decisions.to_s unless @new_decisions.zero?
                - if can? :change_ban_status, User
                  %li
                    = link_to 'Користувачі', users_path
                - if can? :manage, Category
                  %li
                    = link_to 'Категорії', categories_path
                %li
                  = link_to 'Налаштування', edit_user_registration_path
                %li
                  = link_to 'Вийти', destroy_user_session_path, method: 'delete'
          - else
            %li
              = link_to 'Увійти', new_user_session_path
