!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %title= "Alter | #{yield(:title)}"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true
    = yield :styles
    = csrf_meta_tags
    = favicon_link_tag '/assets/favicon.png', rel: 'shortcut icon'
  %body{ class: home_page? ? 'home-page-bg' : ''}
    -#= render partial: 'home/preloader' unless default_page?
    = render partial: 'layouts/header'
    .content
      -flash.each do |name, msg|
        .alert.alert-info.alert-dismissible
          %button.close{ 'data-dismiss': :alert, type: :button }
            %span{ 'aria-hidden': true } ×
            %span.sr-only Close
          = msg
      = yield
      = javascript_include_tag 'application'
      = yield :plugins
      = yield :javascript
    = render partial: 'layouts/footer'
