!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %title= "Alter | #{yield :title}"
    %link{:href => "http://fonts.googleapis.com/css?family=Tangerine", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true
    = yield :styles
    = csrf_meta_tags
    = favicon_link_tag '/assets/favicon.png', rel: 'shortcut icon'
  %body{ class: home_page? ? 'home-page-bg' : ''}
    = render partial: 'layouts/header'
    .content
      = render partial: 'layouts/flashes'
      = yield
      = javascript_include_tag 'application'
      = yield :plugins
      = yield :javascript
      = yield :web_socket
    = render partial: 'layouts/footer'
